<div class="d-flex">
  <div class="d-flex justify-content-center" style="width: 80px">
    <%= image_tag item_image(item), class: "img-fluid mr-2", style: "max-width: 60px; height: auto; max-height: 40px;" %>
  </div>
  <%= item.name %>
</div>