<!-- app/views/tutorial/step1.html.erb -->
<div class="container mt-4" style="max-width: 90%;">
  <h2 class="mt-5">WishDigへようこそ</h1>
  <div class="m-5">
    <p>WishDigは、Wish(ほしいもの)をDig(深掘り)することで</p>
    <p>ゆたかな買いものを目指す、ほしいもの管理アプリです。</p>
    <p>試しに、今ほしいものを1つ入力してみましょう。</p>
  </div>
  <%= form_with model: @item, url: update_step1_tutorial_path, method: :patch do |f| %>
    <div class="form-group mb-5">
      <div class="d-flex align-items-center">
        <%= f.label :name, "アイテムの名称", class: "form-label" %>
        <div class="badge badge-danger ml-2 mb-2" style="height: 20px;">必須</div>
      </div>
      <%= f.text_field :name, class: "form-control", placeholder: "入力してください"%>
    </div>
    <div class="actions">
      <%= f.submit "次へ", class: "btn btn-outline-primary" %>
    </div>
  <% end %>
</div>