<div class="container mt-4" style="max-width: 90%;">
  <h2 class="mt-5">WishDigへようこそ</h1>
  <div class="m-5">
    <p>あなたにとって</p>
    <p>そのアイテムはどんなものですか？</p>
    <p>簡単に紹介してみてください。</p>
  </div>
  <%= form_with model: @item, url: update_step2_tutorial_path, method: :patch do |f| %>
    <div class="form-group">
      <div class="d-flex align-items-center">
        <%= f.label :description, "アイテムの紹介", class: "form-label" %>
        <div class="badge badge-danger ml-2 mb-2" style="height: 20px;">必須</div>
      </div>
      <%= f.text_area :description, class: "form-control", placeholder: "魅力、ほしい理由、そのアイテムの良さ、悩む理由を語ってください" %>
    </div>
    <div class="actions">
      <%= f.submit "次へ", class: "btn btn-outline-primary" %>
    </div>
  <% end %>
</div>