<!-- app/views/items/completepost.html.erb -->
<div class="container mt-4">
  <div class="alert alert-success" role="alert">
    <h1 class="alert-heading">投稿が完了しました。</h1>
    <p>新しいアイテムが正常に作成されました。</p>
    <hr>
    <%= link_to 'アイテム一覧に戻る', items_path, class: "btn btn-primary" %>
  </div>
</div>

