<div class="container mt-4" style="max-width: 90%;">
  <% if user_signed_in? %>
    <div class="mt-5">
      <h3><%= display_heading("ほしいものリスト") %></h3>
    </div>
    <div class="mt-5">
      <%= render 'date_filter_form', form_url: items_path %>
    </div>
    <div class="m-1">
    <%= items_table(@items, current_user, 'ほしいもの') %>
  <% end %>
</div>
