<div class="container mt-4" style="max-width: 90%;">
  <% if user_signed_in? %>
    <div class="mt-5">
      <h3><%= display_heading("買ったものリスト") %></h3>
    </div>
    <div class="mt-5">
      <%= render 'date_filter_form', form_url: purchased_items_path %>
    </div>
    <div class="m-1">
      <ul class="nav nav-tabs mt-3">
        <li class="nav-item">
          <%= link_to 'ほしいもの', items_path(selected_year: @selected_year, selected_month: @selected_month), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <a class="nav-link active disabled">買ったもの</a>
        </li>
      </ul>
      <%= items_table(@items, current_user, '購入済み') %>
    </div>
  <% end %>
</div>
